<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- 콘솔에 로그 출력 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>

    <!-- 로그 수준별 설정 -->
    <Loggers>
        <Logger name="org.apache" level="ERROR" additivity="false"/>
        
        <!-- 스프링 프레임워크 로깅 수준 설정 -->
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Spring Security -->
        <Logger name="com.example.springsecurity" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>


        <!-- 기본 로그 설정 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
